<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.HSTrier.mesmo">

  <!-- NFC Permissions -->
  <uses-permission android:name="android.permission.NFC" />
  <uses-feature android:name="android.hardware.nfc" android:required="false" />

  <!-- Bestehende Features -->
  <uses-feature android:name="android.hardware.sensor.accelerometer" android:required="false" />

  <application>
    <!--Used when Application Entry is set to Activity, otherwise remove this activity block-->
    <activity android:name="com.unity3d.player.UnityPlayerActivity"
              android:theme="@style/UnityThemeSelector"
              android:launchMode="singleTop"
              android:configChanges="orientation|keyboardHidden|screenSize">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>

      <!-- NFC Intent-Filter -->
      <intent-filter>
        <action android:name="android.nfc.action.TAG_DISCOVERED"/>
        <action android:name="android.nfc.action.NDEF_DISCOVERED"/>
        <category android:name="android.intent.category.DEFAULT"/>
      </intent-filter>

      <meta-data android:name="unityplayer.UnityActivity" android:value="true" />
    </activity>

    <!--Used when Application Entry is set to GameActivity, otherwise remove this activity block-->
    <activity android:name="com.unity3d.player.UnityPlayerGameActivity"
              android:theme="@style/BaseUnityGameActivityTheme"
              android:launchMode="singleTop"
              android:configChanges="orientation|keyboardHidden|screenSize">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>

      <!-- NFC Intent-Filter (auch hier, falls GameActivity verwendet wird) -->
      <intent-filter>
        <action android:name="android.nfc.action.TAG_DISCOVERED"/>
        <action android:name="android.nfc.action.NDEF_DISCOVERED"/>
        <category android:name="android.intent.category.DEFAULT"/>
      </intent-filter>

      <meta-data android:name="unityplayer.UnityActivity" android:value="true" />
      <meta-data android:name="android.app.lib_name" android:value="game" />
    </activity>
  </application>

</manifest>
